/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card {
  margin-top: 20px;
  width: 90%;
  max-width: 1200px; /* Increased max-width */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-left: auto; /* Set margin-left and margin-right to auto */
  margin-right: auto;
  background: hsl(0, 0%, 99%);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0C2D57;
  color: white;
}

tr:hover {
  background-color: #f2f2f2;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.search-input {
  width: calc(100% - 48px); /* Adjust width to accommodate icon and padding */
  padding: 10px 40px 10px 10px; /* Add padding to accommodate icon */
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 10px; /* Adjust right position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.search-icon img {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.search-input:focus + .search-icon img {
  opacity: 0; /* Hide icon when input is focused */
}

.search-input:focus{
  border-color: #2B2A4C;
}

.pagination-container {
  margin-top: 40px; /* Add margin-top to create space between search container and pagination */
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.pagination-container button {
  padding: 8px 16px;
  margin: 0 5px; /* Adjust margin between pagination items */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-container button.active {
  background-color: #2B2A4C; /* Green shade background color for active page */
  color: #fff; /* Text color for active page */
}

.pagination-container button:hover {
  background-color: #f2f2f2; /* Change background color on hover */
  color: #333;
}

.header {
  background-color: #2B2A4C; 
  color: white; 
  padding: 0.5px 20px; 
  text-align: center;
  margin-bottom: 20px; 
}

th button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 0; 
}

th button img {
  width: 16px; 
  height: auto; 
  vertical-align: middle; 
  margin-left: 10px; 
}

@media (max-width: 600px) {
  .card {
    width: 95%;
  }
}